{% extends 'base.html.twig' %}
{% block body %}
    <h1>Admin home</h1>
  <li>  <a href="{{ url('admin') }}">Easy Admin</a> </li>
    <li>  <a href="{{ url('port_index') }}">Edit Port</a> </li>
    <li>  <a href="{{ url('review_index') }}">Edit Reviews</a> </li>
{% endblock %}