{% extends 'base.html.twig' %}

{% block title %}Edit Matt{% endblock %}

{% block body %}

    <h1>Edit Matt</h1>

    {% include 'matt/_form.html.twig' with {'form': form, 'button_label': 'Edit'} only %}

    <a href="{{ path('matt_index') }}">back to list</a>

    {% include 'matt/_delete_form.html.twig' with {'identifier': matt.id} only %}

{% endblock %}